<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>694</integer>
	<key>capHeight</key>
	<integer>676</integer>
	<key>copyright</key>
	<string>(c) 2008 James Puckett, (c) 2009 Rob Mientjes, (c) 2006 Raph Levien, (c) 2012 Grzegorz Rolek</string>
	<key>descender</key>
	<integer>-204</integer>
	<key>familyName</key>
	<string>Open Baskerville</string>
	<key>italicAngle</key>
	<integer>0</integer>
	<key>note</key>
	<string>Welcome to the Open Baskerville project.

Open Baskerville is an open source project to create a digital revival of the famous ‘Baskerville’ typefaces. To be more exact, Open Baskerville is based upon Fry’s Baskerville, a Baskerville derivative created by Isaac Moore, a punchcutter who worked for John Baskerville.

The general information page for this project can be found at:
http://klepas.org/openbaskerville

The issue tracker and message threads can be found at:
http://openbaskerville.lighthouseapp.com

The source code repository can be found at:
https://github.com/klepas/open-baskerville

## About the Font Files ##

The UFO folders contain font source files. These are the files you edit if you want to contribute back to the project. You can not directly install UFO’s on your system—for that you need OTF files. You can generate the OTF files from the UFO either with a font editing program or by running the 'rake' command. Alternatively, you can download pre-built font files from the project website.

FontForge supports UFO natively, as will the upcoming version of Fontlab. For Fontlab 5 you need to install the RoboFab scripting library. The RoboFab site provides detailed instructions: http://www.robofab.org

## License ##

The Open Baskerville font files are dual-licensed under the GNU GPL version 3 (GNU General Public License) and the SIL Open Font License (OFL). See 'COPYING-GPLv3.txt' and 'COPYING-OFL.txt' respectively. There is also a FAQ on the OFL (see 'COPYING-OFL-FAQ.txt').

## Contribute back ##

We welcome contributions! You can check out the issue tracker to see what we are currently working on. We manage contributions through Git, a version control system, and GitHub. If you are new to working with a versioning system, our project website offers an explanation of the process.

## Thanks ##

Thanks!
</string>
	<key>openTypeNameDesigner</key>
	<string>Isaac Moore, James Puckett, Rob Mientjes, Grzegorgz Rolek, Morris Fuller Benton, Raph Levien</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.dunwichtype.com/</string>
	<key>openTypeNameLicense</key>
	<string>The Open Baskerville font files are dual-licensed under the GNU GPL version 3 (GNU General Public License) and the SIL Open Font License (OFL). See 'COPYING-GPLv3.txt' and 'COPYING-OFL.txt' respectively. There is also a FAQ on the OFL (see 'COPYING-OFL-FAQ.txt').

What follows is the text of the SIL Open Font License.
___

Copyright (c) 2008, James Puckett (http://www.dunwichtype.com/),
Copyright (c) 2009, Rob Mientjes (http://robmientjes.nl/),
Copyright (c) 2006, Raph Levien (http://www.levien.com/),
Copyright (c) 2012, Grzegorz Rolek (https://twitter.com/#!/ichosis) 
with Reserved Font Name Open Baskerville.

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL


-----------------------------------------------------------
SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
-----------------------------------------------------------

PREAMBLE
The goals of the Open Font License (OFL) are to stimulate worldwide development of collaborative font projects, to support the font creation efforts of academic and linguistic communities, and to provide a free and open framework in which fonts may be shared and improved in partnership with others.

The OFL allows the licensed fonts to be used, studied, modified and redistributed freely as long as they are not sold by themselves. The fonts, including any derivative works, can be bundled, embedded,  redistributed and/or sold with any software provided that any reserved names are not used by derivative works. The fonts and derivatives, however, cannot be released under any other type of license. The requirement for fonts to remain under this license does not apply to any document created using the fonts or their derivatives.

DEFINITIONS
"Font Software" refers to the set of files released by the Copyright Holder(s) under this license and clearly marked as such. This may include source files, build scripts and documentation.

"Reserved Font Name" refers to any names specified as such after the copyright statement(s).

"Original Version" refers to the collection of Font Software components as distributed by the Copyright Holder(s).

"Modified Version" refers to any derivative made by adding to, deleting, or substituting -- in part or in whole -- any of the components of the Original Version, by changing formats or by porting the Font Software to a new environment.

"Author" refers to any designer, engineer, programmer, technical writer or other person who contributed to the Font Software.

PERMISSION &amp; CONDITIONS
Permission is hereby granted, free of charge, to any person obtaining a copy of the Font Software, to use, study, copy, merge, embed, modify, redistribute, and sell modified and unmodified copies of the Font Software, subject to the following conditions:

1) Neither the Font Software nor any of its individual components, in Original or Modified Versions, may be sold by itself.

2) Original or Modified Versions of the Font Software may be bundled, redistributed and/or sold with any software, provided that each copy contains the above copyright notice and this license. These can be included either as stand-alone text files, human-readable headers or in the appropriate machine-readable metadata fields within text or binary files as long as those fields can be easily viewed by the user.

3) No Modified Version of the Font Software may use the Reserved Font Name(s) unless explicit written permission is granted by the corresponding Copyright Holder. This restriction only applies to the primary font name as presented to the users.

4) The name(s) of the Copyright Holder(s) or the Author(s) of the Font Software shall not be used to promote, endorse or advertise any Modified Version, except to acknowledge the contribution(s) of the Copyright Holder(s) and the Author(s) or with their explicit written permission.

5) The Font Software, modified or unmodified, in part or in whole, must be distributed entirely under this license, and must not be distributed under any other license. The requirement for fonts to remain under this license does not apply to any document created using the Font Software.

TERMINATION
This license becomes null and void if any of the above conditions are not met.

DISCLAIMER
THE FONT SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OF COPYRIGHT, PATENT, TRADEMARK, OR OTHER RIGHT. IN NO EVENT SHALL THE COPYRIGHT HOLDER BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, INCLUDING ANY GENERAL, SPECIAL, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF THE USE OR INABILITY TO USE THE FONT SOFTWARE OR FROM OTHER DEALINGS IN THE FONT SOFTWARE.</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>The Open Baskerville Project</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://klepas.org/openbaskerville</string>
	<key>openTypeNameVersion</key>
	<string>0.0.x development series</string>
	<key>openTypeOS2VendorID</key>
	<string>pyrs</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-218</integer>
		<integer>-204</integer>
		<integer>-14</integer>
		<integer>0</integer>
		<integer>421</integer>
		<integer>434</integer>
		<integer>676</integer>
		<integer>691</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>500</integer>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>OpenBaskerville</string>
	<key>postscriptFullName</key>
	<string>Open Baskerville</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptSlantAngle</key>
	<integer>0</integer>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>20</integer>
		<integer>16</integer>
		<integer>13</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>100</integer>
		<integer>68</integer>
	</array>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>postscriptWeightName</key>
	<string>Normal</string>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapFamilyName</key>
	<string>Open Baskerville</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>421</integer>
	<key>year</key>
	<integer>0</integer>
</dict>
</plist>
