<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>Open Baskerville</string>
	<key>styleName</key>
	<string>Normal</string>
	<key>copyright</key>
	<string></string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>xHeight</key>
	<integer>421</integer>
	<key>capHeight</key>
	<integer>676</integer>
	<key>ascender</key>
	<integer>800</integer>
	<key>descender</key>
	<integer>-200</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2011/01/12 09:29:29</string>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2VendorID</key>
	<string>pyrs</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>10</integer>
		<integer>11</integer>
		<integer>12</integer>
		<integer>13</integer>
		<integer>14</integer>
		<integer>15</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>800</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>200</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>916</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>-204</integer>
	<key>postscriptFontName</key>
	<string>OpenBaskerville</string>
	<key>postscriptFullName</key>
	<string>Open Baskerville</string>
	<key>postscriptWeightName</key>
	<string>Normal</string>
	<key>postscriptUnderlineThickness</key>
	<integer>0</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-218</integer>
		<integer>-204</integer>
		<integer>-14</integer>
		<integer>0</integer>
		<integer>421</integer>
		<integer>434</integer>
		<integer>676</integer>
		<integer>691</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>20</integer>
		<integer>16</integer>
		<integer>13</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>100</integer>
		<integer>68</integer>
	</array>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>macintoshFONDName</key>
	<string>Open Baskerville</string>
    </dict>
</plist>
