<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-179</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>s</key>
		<integer>15</integer>
		<key>w</key>
		<integer>-7</integer>
		<key>y</key>
		<integer>-3</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>period</key>
		<integer>-15</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>w</key>
		<integer>-23</integer>
		<key>y</key>
		<integer>-4</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>period</key>
		<integer>-10</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>s</key>
		<integer>20</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>b</key>
		<integer>10</integer>
		<key>g</key>
		<integer>10</integer>
		<key>p</key>
		<integer>10</integer>
		<key>z</key>
		<integer>5</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>u</key>
		<integer>-5</integer>
		<key>y</key>
		<integer>-35</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>j</key>
		<integer>-24</integer>
		<key>quoteright</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>j</key>
		<integer>24</integer>
		<key>s</key>
		<integer>15</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>a</key>
		<integer>5</integer>
		<key>z</key>
		<integer>35</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>u</key>
		<integer>-5</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>u</key>
		<integer>-5</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>u</key>
		<integer>-4</integer>
		<key>y</key>
		<integer>-35</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>period</key>
		<integer>-15</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>t</key>
		<integer>-8</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>d</key>
		<integer>-40</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>t</key>
		<integer>-15</integer>
		<key>u</key>
		<integer>-3</integer>
		<key>v</key>
		<integer>-7</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>d</key>
		<integer>5</integer>
		<key>o</key>
		<integer>-8</integer>
		<key>z</key>
		<integer>17</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>b</key>
		<integer>-43</integer>
		<key>h</key>
		<integer>-20</integer>
		<key>k</key>
		<integer>-5</integer>
		<key>l</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
